
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rice";
}

<link href="~/Content/submenu.css" rel="stylesheet" />
<link href="~/Content/sidebar.css" rel="stylesheet" />
<style>
    #single-product p{
    line-height: 30px;
}
#single-product .row{
    margin: 30px auto !important;
}


</style>
<div class="top-sub">
    <h1>Rice</h1>
</div>

<div class="row">
    <section id="single-product">
        <div class="container">
            <div class="col-md-5 col-sm-5" style="overflow: hidden; box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; padding: 0px;">
                <img src="~/Content/products/rice.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 col-md-offset-1">

                <h4>Rice</h4>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-list-alt"></i> Description</a></li>
                    <li><a data-toggle="tab" href="#menu1"><i class="fa fa-asterisk"></i> Details</a></li>
                    <li><a data-toggle="tab" href="#menu2">Requirements</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <p>
                            <span class="text-success"><strong>SS General Trading</strong></span> is a leading suppliers and exporters of the finest quality basmati, non-basmati Long grain rice of multiple origins. We trade,
                            broker and export of all of the main types of rice from Pakistan, India, Thailand and Vietnam.
                            We do contract delivery of virtually all kinds of rice under FOB, CIF from all major exporting countries in all major ports of the country.
                            Supply conditions are specified after receipt of a specific request to our address. For those who want to buy rice on a contract basis,
                            we can also offer ship goods from parties that are in the way.
                        </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3><span class="text-success">Types of rice</span>, with whom we work constantly:</h3>
                        <p>
                            White long grain from higher grades (Thai 100%) to relatively cheap but quality rice from Vietnam (5% and 10% broken grains) double polishing, as well as Pakistani long grain rice of white and parboiled verities i.e. IRRI6, IRRI9 and Basmati Long grain rice of different broken percentage of double-and single-polishing as per our customers requirement.
                        </p>
                        <h3 class="text-success">Basmati Rice</h3>
                        <p>
                            Basmati is long grain variety of rice which is traditionally from Pakistan and India. The basmati rice in Pakistan is cultivated in the Punjab and the production is estimated around 2.47 million tons, while in India the states of Jammu & Kashmir, Punjab, Delhi, Uttarpardesh, himanchal pardesh and uttarkhand cultivate rice and the estimated production is 6.5 million Tons. Also in India the state of Haryana is producing more than 60% of the total basmati rice.
                        </p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                <hr />
                <h3>Products Categories</h3>

            </div>
        </div>
    </section>
</div>