@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}

@model SS_General_Trading.Models.Gallery

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Image</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="box">
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.name)*@
            <label>Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.img)*@
            <label>Image</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            
        </div>
    }
</div>
@Html.ActionLink("Back to List", "Index")
