@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}

@model SS_General_Trading.Models.Gallery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="box">
    <h4>Image Details</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
