@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}
@{
    ViewBag.Title = "Admin";
}
</br></br></br>
<h1 class="text-center">
    Welcome Admin
</h1>
<br/><br/><br/><br />
<h3 class="text-center">
    Here you can upload Images, News & Events time by time.
</h3>

