#images{
    margin: 100px auto;
}
.img-box{
    overflow: hidden !important;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    /*margin-right: 10px;*/
}
.img-box:before{
    content: "";
    width: 100%;
    height: 100%;
    background: #12384C;
    position: absolute;
    opacity: .8;
    perspective: 50em;
    z-index: 999;
    transform: scaleX(0);
    transition: .5s all;
}
.img-box:after{
    content: "\f0c1";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border-radius: 100%;
    width: 50px;
    transform: scale(3);
    opacity:0;
    height: 50px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin: auto;
    transition: .3s all;
    font-family: fontawesome;
}
.img-box:hover::before{
    transform: scaleX(1);
}
.img-box:hover::after{
    transform: scale(1);
    opacity: 1;
}
.img-box img{
    transition: 1s all ease-in-out;
    width: 100%;
    height: 300px;
}
.img-box:hover img{
    transform: scale(1.5) rotate(4deg);
}
/*.img-box-1{
    width: 100%;
    height: 100%;
    left: -130%;
    top:-100%;
    transition: .3s all;
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
}
.img-box-1 h3{
    color: #fff;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.img-box:hover .img-box-1{
    left: 0% !important;
    top: 0%;
}
.img-box img{
    transition: .3s all ease-in-out;
    width: 300px;
    height: 300px;
}
.img-box:hover img{
    transform: scale(1.5) rotate(4deg);
}*/