/*main styles*/

body{
    margin: 0;
    padding: 0;
    font-family: Open Sans !important;
    overflow-x: hidden;
}


/*myCarousel*/

#myCarousel{
    margin-top: -200px !important;
    position: absolute;
}
@media screen and (max-width: 768px){
    #myCarousel{
        margin-top: -20px !important;
    }
    .carousel-caption{
        display: none;
    }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100% !important;
    /*height: 400px !important;*/
}
@media screen and (max-width: 768px){
    .carousel-caption{
        bottom: 50px !important;
    }
}

/*caption*/

.carousel-caption {
    margin-top: 200px !important;
    background: rgba(0,0,0,.5);
    padding:20px;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 230px;
    bottom: 0px;
    /*display: block;*/
}
.carousel-caption h3{
    display: block;
    font-size: 50px;
    position: relative;
    text-shadow: 1px 1px rgba(0,0,0,.17);
    font-family: Open Sans;
    animation-delay: .5s;
    opacity: .7;
    font-weight: 100 !important;
    /*padding: 30px;*/
    text-align: left;
    line-height: 100px;
}
.carousel-caption a{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 15px;
    float: left;
    text-decoration: none;
    color: #fff;
    animation-delay: 3s;
    transition: .3s all;
    border-radius: 4px;
}
.carousel-caption a:hover{
    background-color: #fff;
    color: #000;
}
.carousel-caption p{
    animation-delay: 1s;
    line-height: 30px;
    padding-right: 200px;
    margin-bottom: 20px;
    animation-delay: 2s;
}
.carousel-indicators li{
    display: inline-block;
    width: 50px;
    height: 5px;
    border-radius: 0px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, .6);
}
.carousel-indicators .active{
    width: 50px;
    height: 5px;
    border-radius: 0px;
    margin: 10px;
    background-color: #fff;
}


/*@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1.3, 1.3);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes zoom {
  from {
    transform: scale(1.3, 1.3);
  }
  to {
    transform: scale(1, 1);
  }
}*/

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .9s; /*adjust timing here */
         -moz-transition: opacity .9s;
           -o-transition: opacity .9s;
              transition: opacity .9s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
    z-index: 1400;
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
/*navigation*/
.navbar{
    position: relative;
}
.navbar-inverse {
     background-color: transparent; 
    /* border-color: #080808; */
    /* height: 40px !important; */
    padding: 20px;
    border:none;
    border-radius:0px;
    z-index: 1500;
}

.navbar-inverse .navbar-nav > li > a{
    color: #fff;
    transition: .20s all;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #aaa !important;
}
.navbar-inverse .navbar-brand{
    color: #fff;
    transition: .20s all;
}
.navbar-inverse .navbar-brand:hover{
    color: #aaa;
}


.login-btn{
    border: 1px solid #fff;
    border-radius: 40px;
    /*width: 100px;*/
    /*text-align: center !important;*/
    padding-right: 27px !important;
    transition: .20s all;
}
.login-btn:hover, .login-btn a:hover{
    background-color: #fff;
    color: #333 !important;
}


@media screen and (max-width: 768px){
    .navbar-inverse{
        background-color: #12384C !important;
    }
    .login-btn{
        /*padding-left: 30px;*/
        width: 100%;
        text-align:center;
    }
    .navbar-inverse .navbar-brand img{
        width: 80px !important; 
        height: 85px !important;
        margin-top: -30px;
    }
    
}


/*site footer*/

.site-footer{
    padding: 40px;
    background-color: #12384C;
    color: #fff;
    list-style-type: none;
}

.site-footer h4{
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 15px;
    font-family: Open Sans;
}

.site-footer a{
    color: #aaa;
    transition: .20s all;
    text-decoration: none;
}
.site-footer a:hover{
    color: #fff;
}

.footer-social{
    display: inline-block;
    margin-top: 15px;
}
.footer-social > a{
    width: 40px;
    float: left;
    margin-right: 5px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.footer-social a:nth-child(1):hover{
    background-color: #3B5998;
}
.footer-social a:nth-child(2):hover{
    background-color: #55ACEE;
}
.footer-social a:nth-child(3):hover{
    background-color: #3F729B;
}

/*home page content*/

/*
    --------------------
    Introduction Section
    --------------------
*/

#introduction{
    margin-top: 60px;
    padding-top: 630px;   
}
#introduction h1{
    color: #555;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    /*text-transform: uppercase;*/
    margin-bottom: 30px;
    font-family: Josefin Sans;

}
#introduction p{
    color: #aaa;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    #introduction{
        padding-top: 220px;
    }
}
/*
    --------------------
      product Section
    --------------------
*/

#product_section{
    /*background-color: #f3f3f3;*/
    padding: 30px;
    margin-top:40px;
}
#product_section h2{
    text-align: center;
    color: #555;
    padding-top: 50px;
    /*margin-bottom: 100px;*/
    font-family: Josefin Sans;
    font-weight:200;
    /*text-transform: uppercase;*/
}
#product_section p{
    color: #aaa;
    margin-bottom: 100px;
}
#product_section h3{
    font-size: 18px;
    font-family: Josefin Sans;
    font-weight: 700;
    color: #12384C;
    margin-bottom: 10px;
    margin-top: 5px;
}
#product_section p{
    color: #aaa;
    font-family: Open Sans;
    line-height: 30px;
    margin-bottom: 40px;
}
.feature-icon{
    width: 80px;
    height: 80px;
    /*padding-left: 12px;*/
    text-align: center;
    line-height: 80px;
    border: 2px solid cornflowerblue;
    border-radius: 100%;
    color: cornflowerblue;
    font-size: 40px !important;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    #product_section{
        text-align: center;
    }
    .feature-icon{
        text-align: center !important;
        margin-left: 40% !important;
    }
}

/*
    ---------
      LOGIN
    ---------
*/

.login-frm{
    width:40%;
    height: 500px;
    top: 50% !important;
    left: 50% !important;
    /*margin-top: 10%;*/
    /*transform: translate(-50%, -50%);*/
}
.login-frm input[type=text], input[type=password]{
    width: 80% !important;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: none !important;
    height: 60px !important;
    outline: none;
    background-color: #ddd;
    transition: .20s all;
}
.login-frm input[type=text]:focus, input[type=password]:focus{
    background-color: #fff;
}
.login-frm .btn-login{
    width: 80% !important;
    height: 50px !important;
    margin-bottom: 10px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.login-frm .checkbox{
    margin-left: 50px;
}
.login-frm .checkbox label{
    float: left;
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .login-frm input[type=text], input[type=password]{
        width: 200% !important;
        margin-left: -80px !important;
    }
}


#team2 .img-box{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 50px;
    margin-top:50px;
    transition: .3s all;
    position: relative;
    overflow: hidden;
    margin-left: 70px;
}
#team2 .img-box img{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    transform: scale(1.1);
}
#team2 .img-box:before{
    content: "";
    width: 100%;
    border-radius: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: -100%;
    z-index: 999;
    position: absolute;
    transition: .3s all;
}
#team2 .img-box:hover:before{
    left: 0;
}

#bg {
    background-image: url('images/photo-1479243396208-be1751535cdb.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
    z-index:-5;
}

 /*news box*/
        .ticker-div{
 		width: 500px;
 		height: 400px;
         right: 40px;
 		margin-top: 100px;
         /*z-index: 1300 !important;*/
         position: relative !important; 
 		transition: 2s;
         background: #54657b;
         color: #fff;
        font-family:Josefin Sans;
 		    box-shadow: inset 0 0 20px rgba(0,0,0,.8);
    padding: 20px 70px;
 	}
    .ticker-div:before{
        content: "";
        position: absolute;
 		width: 100%;
         transform: rotate(4deg) !important;
         top:0;
         left: 0;
 		height: 100%;
         padding: 20px 70px;
        background: #54657b;
        z-index: -1;
 	    box-shadow: inset 0 0 20px rgba(0,0,0,.8);
 	}
    .ticker-div:after{
        content: "";
        position: absolute;
 		width: 100%;
         z-index: -1000;
         transform: rotate(-4deg) !important;
         top:0;
         left: 0;
 		height: 100%;
         padding: 20px 70px;
        background: #54657b;
 	   box-shadow: inset 0 0 20px rgba(0,0,0,.8);
 	}
    @media screen and (max-width: 768px){
        .ticker-div{
            width: 100%;
            clear: both !important;
            margin-left: 30px !important;
            position: relative;
        }
    } 	
 	.ticker-div ul li{
 		list-style-type: none;
 		color: #444;
 		clear: both;
        color: #fff;
 	}
 	.ticker-div ul li h3{
 		/*font-size: 30px;*/
         font-family:Josefin Sans;
         color: #fff;
 	}
 	.ticker-div ul{
 		margin: 1px;
 		padding: 12px 0px 8px 0px; 
 	}
 	.ticker-div .ticker-header{
 		width: 100%;
 		height: 40px;
 		text-align: center;
 		background: #54657b;
 		padding: 12px;
 		font-size: 20px;
 		font-weight: 800;
 	}
    .ticker-header h3{
         font-family: Roboto;
         font-weight: 200;
         float: left;
         border-bottom: 2px solid #f8f8f8;
         width: 100%;
         text-align: left;
         padding-bottom: 10px;
     }
 	#news img{
 		border-radius: 100%;
 		border:3px solid plum;
 		padding: 4px;
        width: 100px; 
        height: 100px;
        margin-top: 22px;
 	}


     #sec-1, #sec-2{
         position: relative;
         display: table;
         width: 50%;
         height: 535px;
         border: 1px solid #E2E9F0;
         /*border-bottom: 1px solid #999;*/
         margin-top: 50px auto;
         /*margin-bottom: 100px;*/
         padding: 50px 50px 50px 50px;
     }
     #sec-1 h3{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 300;
        color: #444;
        letter-spacing: 1px;
     }
     #sec-1{
         float: left;
         background: #f5f7f9;
     }
     #sec-1 p{
         line-height: 25px;
         font-size: 13px;
         color: #7B8398;
         text-align: justify;
         font-family: Open Sans
     }
     #sec-2 p{
         line-height: 25px;
         font-size: 15px;
         color: #7B8398;
         font-family: Open Sans;
         text-align: justify;
     }
     #sec-1 i{
         font-size: 40px;
         color: #54AFE5;
         margin-top: 10px;
     }
     #sec-2{
         background: #fff;
     }
     #sec-2 h3{
         font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        color: #444;
        letter-spacing: 1px;
     }
     #sec-2 h5{
         font-size:12px;
         color: #70a9cd;
         text-transform: uppercase;
     }
     @media screen and (max-width: 768px){
         #sec-1, #sec-2{
             width: 100%;
         }
     }



     #certified img{
            -webkit-filter: grayscale(100%) !important; /* Safari 6.0 - 9.0 */
            filter: grayscale(100%) !important;
            opacity: .4 !important;
            transition: .30s all !important;
        }
        #certified img:hover{
            -webkit-filter: grayscale(0) !important; /* Safari 6.0 - 9.0 */
            filter: grayscale(0) !important;
            opacity: .4 !important;
            opacity: 1 !important;
        }

        #certified h3{
            top: -8px;
            padding: 0 40px;
            background: #fff;
            position: relative;
            color: #97a8b8;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1.8px;
            word-spacing: 1.6px;
            font-weight: 600;
            text-align: center;
            line-height: 24px;
        }
        
        #certified h3 .certi{
            width: 300px;
            height: 1px;
            background: #aaa;
        }
        #certified .logo1{
            width: 130px !important;
            height: 130px !important;
        }
        #certified .logo2{
            margin-top: 30px !important;
            width: 250px;
            height: 80px;
        }
        #certified .logo3{
            margin-top: 60px !important;
            width: 200px;
            height: 40px;
        }

/*
    dropdowns
*/

    .dropdown-submenu {
		    position: relative;
		}

		.dropdown-submenu>.dropdown-menu {
		    top: 0;
		    left: 100%;
		    margin-top: -6px;
		    margin-left: -1px;
		    -webkit-border-radius: 0 6px 6px 6px;
		    -moz-border-radius: 0 6px 6px;
		    border-radius: 0 6px 6px 6px;
		}

		.dropdown-submenu:hover>.dropdown-menu {
		    display: block;
		}

		/*.dropdown-submenu>a:after {
		    display: block;
		    content: " ";
		    float: right;
		    width: 0;
		    height: 0;
		    border-color: transparent;
		    border-style: solid;
		    border-width: 5px 0 5px 5px;
		    border-left-color: #ccc;
		    margin-top: 5px;
		    margin-right: -10px;
		}

		.dropdown-submenu:hover>a:after {
		    border-left-color: #fff;
		}*/

		.dropdown-submenu.pull-left {
		    float: none;
		}

		.dropdown-submenu.pull-left>.dropdown-menu {
		    left: -100%;
		    margin-left: 10px;
		    -webkit-border-radius: 6px 0 6px 6px;
		    -moz-border-radius: 6px 0 6px 6px;
		    border-radius: 6px 0 6px 6px;
		}

        .dropdown-menu{
            border-radius: 10px !important;
        }
        .dropdown-toggle:hover, .dropdown-toggle:focus, .open:hover, .open:focus{
            background-color: transparent !important;
        }
        .dropdown-menu>li>a{
            padding: 12px;
        }
        .dropdown-menu>li>a:hover{
            background-color: #f2f2f2;
            color: plum;
        }

        .ion-chevron-right{
            font-size: 10px;
            color: #555;
            float: right;
            margin-top: 4px;
            font-weight: 700;
        }
        .navbar-inverse .navbar-brand img{
    margin-top: -30px;
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    border: 5px solid #fff;
    padding: 10px;
    border-radius: 50%;
    opacity: .8;
}
       .navbar-nav li:last-child a{
            border: 1px solid #fff !important;
            border-radius: 20px;
            padding: 10px 20px;
            margin-top: 5px; 
            /*text-transform: uppercase;*/
        }
       .navbar-nav li:last-child a:hover{
           background: #fff;
           color: #555;
       }