 .top-sub{
    width: 100%;
    height: 300px;
    margin-top: -130px;
    /*line-height: 300px;*/
    background-image: linear-gradient(310deg,#272b53 0,#4f7296 90%);
}
.top-sub h1{
    line-height: 400px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: Josefin Sans;
}
#single-product{
    margin: 100px auto !important;
}
#single-product img{
    transition: .6s all;
    transform: scale(1) rotate(0deg);
    width: 100%;
}
/*#single-product img:hover{
    transform: scale(2) rotate(20deg);
}*/
#single-product h4{
    /*font-size: 50px !important;*/
    font-family: Open Sans;

}
.nav-tabs{
    padding:20px 0px 20px 0px;
    border: 0px;
}
.nav-tabs>li>a{
    font-size:15px;
    color: #aaa;
}
.nav-tabs>li>a:hover{
    background-color: transparent !important;
    border: 1px solid transparent;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
    border: 1px solid #aaa;
    border-radius:50px;
    color: #aaa;
}