@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Textile";
}
<link href="~/Content/submenu.css" rel="stylesheet" />
<link href="~/Content/sidebar.css" rel="stylesheet" />

<div class="top-sub">
    <h1>Textile</h1>
</div>

<section id="single-product">
    <div class="container">
        <div class="col-md-8 col-sm-8">
            <img src="~/Content/products/rice.jpg" class="img-responsive img-thumbnail" />
            <div class="row">
                <p>
                    Abdul Sattar Sons is a leading suppliers and exporters of the finest quality basmati, non-basmati Long grain rice of multiple origins. We trade,
                    broker and export of all of the main types of rice from Pakistan, India, Thailand and Vietnam.
                    We do contract delivery of virtually all kinds of rice under FOB, CIF from all major exporting countries in all major ports of the country.
                    Supply conditions are specified after receipt of a specific request to our address. For those who want to buy rice on a contract basis,
                    we can also offer ship goods from parties that are in the way.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-8 sidebar">
            <div class="endLine"></div>
            <div class="row">
                <h3>Search Product</h3>
                <div class="input-group has-feedback">
                    <input type="search" class="form-control" />
                    <span class="input-group-addon form-control-feedback"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class="endLine"></div>
            <h3>Product Categories</h3>
            <div class="endLine"></div>
            <div class="row">
                <h4 class="">Crops</h4>
                <a href="~/Views/Crops/FoodBeverage.cshtml">Food Beverage</a>
                <a href="~/Views/Crops/FoodItems.cshtml">Food Items</a>
                <a href="~/Views/Crops/Fruits.cshtml">Fruit</a>
                <a href="~/Views/Crops/Rice.cshtml">Rice</a>
            </div>
            <div class="endLine"></div>
            <div class="row">
                <h4 class="">Electronics</h4>
                <a href="~/Views/Electronics/ElectronicProducts.cshtml">Electronic Products</a>
                <a href="~/Views/Electronics/AutoMobiles.cshtml">Auto Mobiles</a>
                <a href="~/Views/Electronics/AutoParts.cshtml">Auto Parts</a>
            </div>
            <div class="endLine"></div>
            <div class="row">
                <h4 class="">Pharmaceutical</h4>
                <a href="~/Views/Pharmaceutical/Allopathic.cshtml">Allopathic Medicines</a>
                <a href="~/Views/Pharmaceutical/HerbalMedicines.cshtml">Herbal Medicines</a>
            </div>
            <div class="endLine"></div>
            <div class="row">
                <h4 class="">Sports</h4>
                <a href="~/Views/Sports/SportMaterial.cshtml">Sport Material</a>
                <a href="~/Views/Sports/Clothes.cshtml">Clothes</a>
            </div>
        </div>

    </div>
</section>
