@model IEnumerable<SS_General_Trading.Models.News_Events>
@{
    ViewBag.Title = "Home Page";
}

<style>
    
.item{
    animation-delay: .40s;
}
</style>

@* slider start *@

<div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="~/Content/images/pexels-photo-164531.jpeg" />
            @*<img src="~/site-images/slide33.jpg" />*@
            <div class="carousel-caption">
                <h3 class="animated fadeInUp">SS General Trading</h3>
                <h3 class="animated fadeInDown">SS General Trading has been able to grow further since its establishment and the leader in export and import of pharmaceutical, herbal medicines, auto mobiles, electronics, textile and agriculture commodities with collaboration of our valuable top manufacturer of Pakistan.</h3>
                <h3 class="animated fadeInUp">Pakistan’s leading exporter & importer</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/hand.jpg" />
            @*<img src="~/site-images/slide22.jpg" />*@
            <div class="carousel-caption">
                <h3 class="animated bounceIn">SS General Trading</h3>
                <h3 class="animated bounceInDown">SS General Trading has been able to grow further since its establishment and the leader in export and import of pharmaceutical, herbal medicines, auto mobiles, electronics, textile and agriculture commodities with collaboration of our valuable top manufacturer of Pakistan.</h3>
                <h3 class="animated bounceInUp">Pakistan’s leading exporter & importer</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/site-images/slide11.jpg" />
            @*<img src="~/site-images/bgs3.jpeg"/>*@
            <div class="carousel-caption">
                <h3 class="animated flipInX">SS General Trading</h3>
                <h3 class="animated flipInX">SS General Trading has been able to grow further since its establishment and the leader in export and import of pharmaceutical, herbal medicines, auto mobiles, electronics, textile and agriculture commodities with collaboration of our valuable top manufacturer of Pakistan.</h3>
                <h3 class="animated flipInX">Pakistan’s leading exporter & importer</h3>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
@* slider end *@


@* contant start *@



@* introduction *@
<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>SS General Trading</h1>
                <p>
                    <strong>SS General Trading</strong>
                    has been able to grow further since its establishment and the
                    leader in export and import of pharmaceutical, herbal medicines, auto mobiles, electronics,
                    textile and agriculture commodities with collaboration of our valuable top manufacturer of
                    Pakistan.
                </p>
            </div>
        </div>
    </div>
</section>
<hr />

@* feature products *@

<section id="product_section">
    <div class="container">
        <h2 class="text-center">Pakistan’s leading exporter</h2>
        <p class="text-center">
            we are engaged in export and general trading with partnership of
            valuable manufacturer.
        </p>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-plus-square-o"></i></div>
                    <h3>Pharmaceutical</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-map-o"></i></div>
                    <h3>Herbal</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-futbol-o"></i></div>
                    <h3>Sports</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-feed"></i></div>
                    <h3>General Commodities,</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>




<section id="bg">
    <div class="container">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="ticker-div pull-right">
                <div class="ticker-header">
                    <h3>Latest News</h3>
                </div><br />
                <ul id="news">
                    @foreach (var news_events in Model)
                    {
                        <li>
                            @*<div class="col-md-3">
                                <img src="~/Content/images/s7.jpg" />
                            </div>*@
                            <div class="col-md-12">

                                <h3>@Html.DisplayFor(modelItem => news_events.Name)</h3>
                                @Html.DisplayFor(modelItem => news_events.Address)
                                <br /><br />

                            </div>
                        </li>
                    }


                    @*<li>
                        <div class="col-md-3">
                            <img src="~/Content/images/Service.jpg" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/export.jpg" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/fbr.png" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/ss general.png" />
                        </div>
                        <div class="col-md-9">
                            <h3>SS General Trading</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>

<br /><br /><br /><br /><br /><br /><br /><br />



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	var interval;
	function startTicker(){
		// $("#news li:first").addClass("animated bounceOut");
		$("#news li:first").slideUp(function(){
			$(this).appendTo($("#news")).fadeIn().addClass("animated bounceInUp");
		})
	}

	function stopTicker(){
		clearInterval(interval);
	}
	$(document).ready(function(){
		interval = setInterval(startTicker, 3000);
		$("#news").hover(function(){
			stopTicker();
		}, function(){
			interval = setInterval(startTicker, 3000);
		});

	});


</script>