@model IEnumerable<SS_General_Trading.Models.News_Events>
@{
    ViewBag.Title = "Home Page";
}

<style>
    .carousel-caption {
    /*margin-top: -350px !important;*/
    background: rgba(0, 0, 0, .5);
    padding:20px;
    height: 400px;
    bottom: 200px;
    /*display: block;*/
}
.carousel-caption h3{
    display: block;
    font-size: 80px;
    float: left;
    position: relative;
    font-family: Josefin Sans;
    animation-delay: .5s;
}
.carousel-caption p{
    display: block;
    float: left;
    position: absolute;
    margin-top: 150px;
}
.item{
    animation-delay: .40s;
}
 /*news box*/
        .ticker-div{
 		width: 430px;
 		height: 600px;
 		margin-top: 100px;
 		overflow: hidden;
 		/*border-radius: 20px;*/
 		/*background-image: linear-gradient(310deg,#272b53 0,#4f7296 90%);*/
 		/*padding: 3px !important;*/
 		/*background-color: #f3f3f3;*/
 		/*margin: 0px auto;*/
 		padding:0px; 
 		border: 2px solid #ddd;
 		transition: 2s;
        font-family:Josefin Sans;
 		/*box-shadow: 0px 0px 10px #aaa;*/
 		/*box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
 	}
 	.ticker-div:hover{
 		background: #f3f3f3;
 	}
 	.ticker-div ul li{
 		list-style-type: none;
 		color: #444;
 		clear: both;
 	}
 	.ticker-div ul li h3{
 		/*font-size: 30px;*/
         font-family:Josefin Sans;
 	}
 	.ticker-div ul{
 		margin: 1px;
 		padding: 12px 0px 8px 0px; 
 	}
 	.ticker-div .ticker-header{
 		width: 100%;
 		height: 40px;
 		text-align: center;
 		background: #fff;
 		padding: 12px;
 		font-size: 20px;
 		text-transform: uppercase;
 		font-weight: 800;
 	}
 	#news img{
 		border-radius: 100%;
 		border:3px solid plum;
 		padding: 4px;
        width: 100px; 
        height: 100px;
        margin-top: 22px;
 	}
</style>

@* slider start *@

<div id="myCarousel" class="carousel slide" data-interval="6500" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item animated bounceInDown">
            <img src="~/site-images/slide33.jpg" />
            @*<img src="~/site-images/bgs5.jpeg"/>*@
            <div class="carousel-caption">
                <h3 class="animated rollIn">SS General Trading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="item animated fadeInUp">
            <img src="~/site-images/slide22.jpg" />
            @*<img src="~/site-images/bgs4.jpeg"/>*@
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
            </div>
        </div>
        <div class="item animated flipInY">
            <img src="~/site-images/slide11.jpg" />
            @*<img src="~/site-images/bgs3.jpeg"/>*@
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

@* slider end *@


@* contant start *@



@* introduction *@
<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>SS General Trading</h1>
                <p>
                    <strong>SS General Trading</strong>
                    has been able to grow further since its establishment and the
                    leader in export and import of pharmaceutical, herbal medicines, auto mobiles, electronics,
                    textile and agriculture commodities with collaboration of our valuable top manufacturer of
                    Pakistan.
                </p>
            </div>
        </div>
    </div>
</section>
<hr />

@* feature products *@

<section id="product_section">
    <div class="container">
        <h2 class="text-center">Pakistan’s leading exporter</h2>
        <p class="text-center">
            we are engaged in export and general trading with partnership of
            valuable manufacturer.
        </p>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-plus-square-o"></i></div>
                    <h3>Pharmaceutical</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-map-o"></i></div>
                    <h3>Herbal</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-futbol-o"></i></div>
                    <h3>Sports</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon"><i class="fa fa-feed"></i></div>
                    <h3>General Commodities,</h3>
                    <p>
                        Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ticker-div pull-right">
                <div class="ticker-header">
                    Latest News<hr>
                </div><br />
                <ul id="news">
                    <li>
                        @*<div class="col-md-3">
                    <img src="~/Content/images/s7.jpg" />
                </div>*@
                        <div class="col-md-12">
                            @foreach (var news_events in Model)
                            {
                                <h3>@Html.DisplayFor(modelItem => news_events.Name)</h3>
                                @Html.DisplayFor(modelItem => news_events.Address)
                                <br/><br/>
                            }
                        </div>
                    </li>
                    @*<li>
                        <div class="col-md-3">
                            <img src="~/Content/images/News.jpg" />
                        </div>
                        <div class="col-md-9">
                            <h3>Android</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/Service.jpg" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/export.jpg" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/fbr.png" />
                        </div>
                        <div class="col-md-9">
                            <h3>Java <small class="label label-primary animated swing">New</small></h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>
                    <li>
                        <div class="col-md-3">
                            <img src="~/Content/images/ss general.png" />
                        </div>
                        <div class="col-md-9">
                            <h3>SS General Trading</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>










<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
	var interval;
	function startTicker(){
		// $("#news li:first").addClass("animated bounceOut");
		$("#news li:first").slideUp(function(){
			$(this).appendTo($("#news")).fadeIn().addClass("animated bounceInUp");
		})
	}

	function stopTicker(){
		clearInterval(interval);
	}
	$(document).ready(function(){
		interval = setInterval(startTicker, 3000);
		$("#news").hover(function(){
			stopTicker();
		}, function(){
			interval = setInterval(startTicker, 3000);
		});

	});


</script>